extends layout

block headcontent
  script(src="/javascripts/checkuser.js")

  script(type="text/javascript")
    | var Role = "#{user.username}"

block content
        
    div.row
        div.col-md-2
        div.col-md-8
            h2 Contact LSC
            h3 Call: 0121 384 569 | Email: 
                span
                    a(href="mailto:james.sheehan@lsc.co.uk") james.sheehan@lsc.co.uk

            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2417.149044254348!2d-1.7812440000000245!3d52.71145500000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487a07c2a5441e71%3A0x88bbb6b860b71915!2sFradley+Park!5e0!3m2!1sen!2suk!4v1421665663799", width="100%", height="450", frameborder="0", style="border:0")

            p Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus. Praesent semper mod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat. Aliquam luctus et mattis lectus sit amet pulvinar. Nam turpis nisi consequat etiam lorem ipsum dolor sit amet nullam.
            
            h3(style="color: #444;") This is a sub heading
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac quam risus, at tempus justo. Sed dictum rutrum massa eu volutpat. Quisque vitae hendrerit sem. Pellentesque lorem felis, ultricies a bibendum id, bibendum sit amet nisl. Mauris et lorem quam. Maecenas rutrum imperdiet vulputate. Nulla quis nibh ipsum, sed egestas justo. Morbi ut ante mattis orci convallis tempor. Etiam a lacus a lacus pharetra porttitor quis accumsan odio. Sed vel euismod nisi. Etiam convallis rhoncus dui quis euismod. Maecenas lorem tellus, congue et condimentum ac, ullamcorper non sapien. Donec sagittis massa et leo semper a scelerisque metus faucibus. Morbi congue mattis mi. Phasellus sed nisl vitae risus tristique volutpat. Cras rutrum commodo luctus.

            p Phasellus odio risus, faucibus et viverra vitae, eleifend ac purus. Praesent mattis, enim quis hendrerit porttitor, sapien tortor viverra magna, sit amet rhoncus nisl lacus nec arcu. Suspendisse laoreet metus ut metus imperdiet interdum aliquam justo tincidunt. Mauris dolor urna, fringilla vel malesuada ac, dignissim eu mi. Praesent mollis massa ac nulla pretium pretium. Maecenas tortor mauris, consectetur pellentesque dapibus eget, tincidunt vitae arcu. Vestibulum purus augue, tincidunt sit amet iaculis id, porta eu purus.
        div.col-md-2