<!-- views/pages/gallery.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="UTF-8"/>
        <title>LSC Presales | Image Gallery</title>
        <link rel="shortcut icon" href="../favicon.ico"> 
        <link rel="stylesheet" type="text/css" href="css/slide_style.css"/>
		<script src="js/modernizr.custom.70736.js"></script>
		<noscript><link rel="stylesheet" type="text/css" href="css/noJS.css"/></noscript>
		<!--  Check folders to find files that specifically relate to this page (they won't affect the main pages) -->
    </head>
    <body>

        <div class="container">
			<div class="top clearfix">
				<div class="top-inner">
				<!-- <img src="images/presales.png" id="alt-logo"> -->
					<img src="images/presales.png" id="logo">
	                <a href="../"><strong> Return to Presales </strong></a>
	                <a href="../mezz_grid"><strong>Back to the Project page</strong></a>
	        	</div>
	        </div>
			<div class="main">
				<!-- <header class="clearfix">

					<div class="support-note">
						<span class="note-ie">Sorry, only modern browsers.</span>
					</div>
					
				</header> -->
				
				<div class="gamma-container gamma-loading" id="gamma-container">

					<ul class="gamma-gallery">

						<li>
							<div data-alt="img03" data-description="<h3>Project 1</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="images/picture/project.jpg" data-min-width="1300"></div>
								<div data-src="images/picture/project.jpg" data-min-width="1000"></div>
								<div data-src="images/picture/project.jpg" data-min-width="700"></div>
								<div data-src="images/picture/project.jpg" data-min-width="300"></div>
								<div data-src="images/picture/project.jpg" data-min-width="200"></div>
								<div data-src="images/picture/project.jpg" data-min-width="140"></div>
								<div data-src="images/picture/project.jpg"></div>
								<noscript>
									<img src="images/picture/project.jpg" alt="img03"/>
								</noscript>
							</div>
						</li>
						<li>
							<div data-alt="img03" data-description="<h3>Project 2</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="images/xxxlarge/project2.jpg" data-min-width="1300"></div>
								<div data-src="images/picture/project2.jpg" data-min-width="1000"></div>
								<div data-src="images/picture/project2.jpg" data-min-width="700"></div>
								<div data-src="images/picture/project2.jpg" data-min-width="300"></div>
								<div data-src="images/picture/project2.jpg" data-min-width="200"></div>
								<div data-src="images/picture/project2.jpg" data-min-width="140"></div>
								<div data-src="images/picture/project2.jpg"></div>
								<noscript>
									<img src="images/picture/project2.jpg" alt="img03"/>
								</noscript>
							</div>
						</li>
						<li>
							<div data-alt="img03" data-description="<h3>Project 3</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="images/picture/project3.jpg" data-min-width="1300"></div>
								<div data-src="images/picture/project3.jpg" data-min-width="1000"></div>
								<div data-src="images/picture/project3.jpg" data-min-width="700"></div>
								<div data-src="images/picture/project3.jpg" data-min-width="300"></div>
								<div data-src="images/picture/project3.jpg" data-min-width="200"></div>
								<div data-src="images/picture/project3.jpg" data-min-width="140"></div>
								<div data-src="images/picture/project3.jpg"></div>
								<noscript>
									<img src="images/picture/project3.jpg" alt="img03"/>
								</noscript>
							</div>
						</li>
						<li>
							<div data-alt="img03" data-description="<h3>Project 4</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="images/picture/project4.jpg" data-min-width="1300"></div>
								<div data-src="images/picture/project4.jpg" data-min-width="1000"></div>
								<div data-src="images/picture/project4.jpg" data-min-width="700"></div>
								<div data-src="images/picture/project4.jpg" data-min-width="300"></div>
								<div data-src="images/picture/project4.jpg" data-min-width="200"></div>
								<div data-src="images/picture/project4.jpg" data-min-width="140"></div>
								<div data-src="images/picture/project4.jpg"></div>
								<noscript>
									<img src="images/picture/project4.jpg" alt="img03"/>
								</noscript>
							</div>
						</li>
						<li>
							<div data-alt="img03" data-description="<h3>Project 5</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="images/picture/project5.jpg" data-min-width="1300"></div>
								<div data-src="images/picture/project5.jpg" data-min-width="1000"></div>
								<div data-src="images/picture/project5.jpg" data-min-width="700"></div>
								<div data-src="images/picture/project5.jpg" data-min-width="300"></div>
								<div data-src="images/picture/project5.jpg" data-min-width="200"></div>
								<div data-src="images/picture/project5.jpg" data-min-width="140"></div>
								<div data-src="images/picture/project5.jpg"></div>
								<noscript>
									<img src="images/picture/project5.jpg" alt="img03"/>
								</noscript>
							</div>
						</li>
						<li>
							<div data-alt="img03" data-description="<h3>Project 6</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="images/picture/project6.jpg" data-min-width="1300"></div>
								<div data-src="images/picture/project6.jpg" data-min-width="1000"></div>
								<div data-src="images/picture/project6.jpg" data-min-width="700"></div>
								<div data-src="images/picture/project6.jpg" data-min-width="300"></div>
								<div data-src="images/picture/project6.jpg" data-min-width="200"></div>
								<div data-src="images/picture/project6.jpg" data-min-width="140"></div>
								<div data-src="images/picture/project6.jpg"></div>
								<noscript>
									<img src="images/picture/project6.jpg" alt="img03"/>
								</noscript>
							</div>
						</li>
						<li>
							<div data-alt="img03" data-description="<h3>Project 7</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="images/picture/project7.jpg" data-min-width="1300"></div>
								<div data-src="images/picture/project7.jpg" data-min-width="1000"></div>
								<div data-src="images/picture/project7.jpg" data-min-width="700"></div>
								<div data-src="images/picture/project7.jpg" data-min-width="300"></div>
								<div data-src="images/picture/project7.jpg" data-min-width="200"></div>
								<div data-src="images/picture/project7.jpg" data-min-width="140"></div>
								<div data-src="images/picture/project7.jpg"></div>
								<noscript>
									<img src="images/picture/project7.jpg" alt="img03"/>
								</noscript>
							</div>
						</li>
						<li>
							<div data-alt="img03" data-description="<h3>Project 8</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="images/picture/project8.jpg" data-min-width="1300"></div>
								<div data-src="images/picture/project8.jpg" data-min-width="1000"></div>
								<div data-src="images/picture/project8.jpg" data-min-width="700"></div>
								<div data-src="images/picture/project8.jpg" data-min-width="300"></div>
								<div data-src="images/picture/project8.jpg" data-min-width="200"></div>
								<div data-src="images/picture/project8.jpg" data-min-width="140"></div>
								<div data-src="images/picture/project8.jpg"></div>
								<noscript>
									<img src="images/picture/project8.jpg" alt="img03"/>
								</noscript>
							</div>
						</li>
						<li>
							<div data-alt="img03" data-description="<h3>Project 9</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="images/picture/project9.jpg" data-min-width="1300"></div>
								<div data-src="images/picture/project9.jpg" data-min-width="1000"></div>
								<div data-src="images/picture/project9.jpg" data-min-width="700"></div>
								<div data-src="images/picture/project9.jpg" data-min-width="300"></div>
								<div data-src="images/picture/project9.jpg" data-min-width="200"></div>
								<div data-src="images/picture/project9.jpg" data-min-width="140"></div>
								<div data-src="images/picture/project9.jpg"></div>
								<noscript>
									<img src="images/picture/project9.jpg" alt="img03"/>
								</noscript>
							</div>
						</li>
						<li>
							<div data-alt="img03" data-description="<h3>Project 10</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="images/picture/project10.jpg" data-min-width="1300"></div>
								<div data-src="images/picture/project10.jpg" data-min-width="1000"></div>
								<div data-src="images/picture/project10.jpg" data-min-width="700"></div>
								<div data-src="images/picture/project10.jpg" data-min-width="300"></div>
								<div data-src="images/picture/project10.jpg" data-min-width="200"></div>
								<div data-src="images/picture/project10.jpg" data-min-width="140"></div>
								<div data-src="images/picture/project10.jpg"></div>
								<noscript>
									<img src="images/picture/project.jpg" alt="img03"/>
								</noscript>
							</div>
						</li>
						<li>
							<div data-alt="img03" data-description="<h3>Project 11</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="images/picture/project11.jpg" data-min-width="1300"></div>
								<div data-src="images/picture/project11.jpg" data-min-width="1000"></div>
								<div data-src="images/picture/project11.jpg" data-min-width="700"></div>
								<div data-src="images/picture/project11.jpg" data-min-width="300"></div>
								<div data-src="images/picture/project11.jpg" data-min-width="200"></div>
								<div data-src="images/picture/project11.jpg" data-min-width="140"></div>
								<div data-src="images/picture/project11.jpg"></div>
								<noscript>
									<img src="images/picture/project11.jpg" alt="img03"/>
								</noscript>
							</div>
						</li>
						<li>
							<div data-alt="img03" data-description="<h3>Project 12</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="images/picture/project12.jpg" data-min-width="1300"></div>
								<div data-src="images/picture/project12.jpg" data-min-width="1000"></div>
								<div data-src="images/picture/project12.jpg" data-min-width="700"></div>
								<div data-src="images/picture/project12.jpg" data-min-width="300"></div>
								<div data-src="images/picture/project12.jpg" data-min-width="200"></div>
								<div data-src="images/picture/project12.jpg" data-min-width="140"></div>
								<div data-src="images/picture/project12.jpg"></div>
								<noscript>
									<img src="images/picture/project12.jpg" alt="img03"/>
								</noscript>
							</div>
						</li>
						<li>
							<div data-alt="img03" data-description="<h3>Project 13</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="images/picture/project13.jpg" data-min-width="1300"></div>
								<div data-src="images/picture/project13.jpg" data-min-width="1000"></div>
								<div data-src="images/picture/project13.jpg" data-min-width="700"></div>
								<div data-src="images/picture/project13.jpg" data-min-width="300"></div>
								<div data-src="images/picture/project13.jpg" data-min-width="200"></div>
								<div data-src="images/picture/project13.jpg" data-min-width="140"></div>
								<div data-src="images/picture/project13.jpg"></div>
								<noscript>
									<img src="images/picture/project13.jpg" alt="img03"/>
								</noscript>
							</div>
						</li>
						<li>
							<div data-alt="img03" data-description="<h3>Project 14</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="images/picture/project14.jpg" data-min-width="1300"></div>
								<div data-src="images/picture/project14.jpg" data-min-width="1000"></div>
								<div data-src="images/picture/project14.jpg" data-min-width="700"></div>
								<div data-src="images/picture/project14.jpg" data-min-width="300"></div>
								<div data-src="images/picture/project14.jpg" data-min-width="200"></div>
								<div data-src="images/picture/project14.jpg" data-min-width="140"></div>
								<div data-src="images/picture/project14.jpg"></div>
								<noscript>
									<img src="images/picture/project14.jpg" alt="img03"/>
								</noscript>
							</div>
						</li>
						<li>
							<div data-alt="img03" data-description="<h3>Project 15</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="images/picture/project15.jpg" data-min-width="1300"></div>
								<div data-src="images/picture/project15.jpg" data-min-width="1000"></div>
								<div data-src="images/picture/project15.jpg" data-min-width="700"></div>
								<div data-src="images/picture/project15.jpg" data-min-width="300"></div>
								<div data-src="images/picture/project15.jpg" data-min-width="200"></div>
								<div data-src="images/picture/project15.jpg" data-min-width="140"></div>
								<div data-src="images/picture/project15.jpg"></div>
								<noscript>
									<img src="images/picture/project15.jpg" alt="img03"/>
								</noscript>
							</div>
						</li>
						<li>
							<div data-alt="img03" data-description="<h3>Project 16</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="images/picture/project16.jpg" data-min-width="1300"></div>
								<div data-src="images/picture/project16.jpg" data-min-width="1000"></div>
								<div data-src="images/picture/project16.jpg" data-min-width="700"></div>
								<div data-src="images/picture/project16.jpg" data-min-width="300"></div>
								<div data-src="images/picture/project16.jpg" data-min-width="200"></div>
								<div data-src="images/picture/project16.jpg" data-min-width="140"></div>
								<div data-src="images/picture/project16.jpg"></div>
								<noscript>
									<img src="images/picture/project16.jpg" alt="img03"/>
								</noscript>
							</div>
						</li>
						<li>
							<div data-alt="img03" data-description="<h3>Project 17</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="images/picture/project17.jpg" data-min-width="1300"></div>
								<div data-src="images/picture/project17.jpg" data-min-width="1000"></div>
								<div data-src="images/picture/project17.jpg" data-min-width="700"></div>
								<div data-src="images/picture/project17.jpg" data-min-width="300"></div>
								<div data-src="images/picture/project17.jpg" data-min-width="200"></div>
								<div data-src="images/picture/project17.jpg" data-min-width="140"></div>
								<div data-src="images/picture/project17.jpg"></div>
								<noscript>
									<img src="images/picture/project17.jpg" alt="img03"/>
								</noscript>
							</div>
						</li>
						<li>
							<div data-alt="img03" data-description="<h3>Project 18</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="images/picture/project18.jpg" data-min-width="1300"></div>
								<div data-src="images/picture/project18.jpg" data-min-width="1000"></div>
								<div data-src="images/picture/project18.jpg" data-min-width="700"></div>
								<div data-src="images/picture/project18.jpg" data-min-width="300"></div>
								<div data-src="images/picture/project18.jpg" data-min-width="200"></div>
								<div data-src="images/picture/project18.jpg" data-min-width="140"></div>
								<div data-src="images/picture/project18.jpg"></div>
								<noscript>
									<img src="images/picture/project18.jpg" alt="img03"/>
								</noscript>
							</div>
						</li>
						<li>
							<div data-alt="img03" data-description="<h3>Project 19</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="images/picture/project19.jpg" data-min-width="1300"></div>
								<div data-src="images/picture/project19.jpg" data-min-width="1000"></div>
								<div data-src="images/picture/project19.jpg" data-min-width="700"></div>
								<div data-src="images/picture/project19.jpg" data-min-width="300"></div>
								<div data-src="images/picture/project19.jpg" data-min-width="200"></div>
								<div data-src="images/picture/project19.jpg" data-min-width="140"></div>
								<div data-src="images/picture/project19.jpg"></div>
								<noscript>
									<img src="images/picture/project19.jpg" alt="img03"/>
								</noscript>
							</div>
						</li>
						<li>
							<div data-alt="img03" data-description="<h3>Project 20</h3>" data-max-width="1800" data-max-height="1350">
								<div data-src="images/picture/project20.jpg" data-min-width="1300"></div>
								<div data-src="images/picture/project20.jpg" data-min-width="1000"></div>
								<div data-src="images/picture/project20.jpg" data-min-width="700"></div>
								<div data-src="images/picture/project20.jpg" data-min-width="300"></div>
								<div data-src="images/picture/project20.jpg" data-min-width="200"></div>
								<div data-src="images/picture/project20.jpg" data-min-width="140"></div>
								<div data-src="images/picture/project20.jpg"></div>
								<noscript>
									<img src="images/picture/project20.jpg" alt="img03"/>
								</noscript>
							</div>
						</li>
					</ul>
				</div>
			</div><!--/main-->
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="js/jquery.masonry.min.js"></script>
		<script src="js/jquery.history.js"></script>
		<script src="js/js-url.min.js"></script>
		<script src="js/jquerypp.custom.js"></script>
		<script src="js/gamma.js"></script>
		<script type="text/javascript">
			
			$(function() {

				var GammaSettings = {
						// order is important!
						viewport : [ {
							width : 1200,
							columns : 5
						}, {
							width : 900,
							columns : 4
						}, {
							width : 500,
							columns : 3
						}, { 
							width : 320,
							columns : 2
						}, { 
							width : 0,
							columns : 2
						} ]
				};

				Gamma.init( GammaSettings, fncallback );


				// Example how to add more items (just a dummy):

				var page = 0,
					items = ['<li><div data-alt="img03" data-description="<h3>project</h3>" data-max-width="1800" data-max-height="1350"><div data-src="images/xxxlarge/project.jpg" data-min-width="1300"></div><div data-src="images/xxlarge/project.jpg" data-min-width="1000"></div><div data-src="images/xlarge/project.jpg" data-min-width="700"></div><div data-src="images/large/project.jpg" data-min-width="300"></div><div data-src="images/medium/project.jpg" data-min-width="200"></div><div data-src="images/small/project.jpg" data-min-width="140"></div><div data-src="images/xsmall/project.jpg"></div><noscript><img src="images/xsmall/project.jpg" alt="img03"/></noscript></div></li><li><div data-alt="img03" data-description="<h3>project</h3>" data-max-width="1800" data-max-height="1350"><div data-src="images/xxxlarge/project.jpg" data-min-width="1300"></div><div data-src="images/xxlarge/project.jpg" data-min-width="1000"></div><div data-src="images/xlarge/project.jpg" data-min-width="700"></div><div data-src="images/large/project.jpg" data-min-width="300"></div><div data-src="images/medium/project.jpg" data-min-width="200"></div><div data-src="images/small/project.jpg" data-min-width="140"></div><div data-src="images/xsmall/project.jpg"></div><noscript><img src="images/xsmall/project.jpg" alt="img03"/></noscript></div></li><li><div data-alt="img03" data-description="<h3>project</h3>" data-max-width="1800" data-max-height="1350"><div data-src="images/xxxlarge/project.jpg" data-min-width="1300"></div><div data-src="images/xxlarge/project.jpg" data-min-width="1000"></div><div data-src="images/xlarge/project.jpg" data-min-width="700"></div><div data-src="images/large/project.jpg" data-min-width="300"></div><div data-src="images/medium/project.jpg" data-min-width="200"></div><div data-src="images/small/project.jpg" data-min-width="140"></div><div data-src="images/xsmall/project.jpg"></div><noscript><img src="images/xsmall/project.jpg" alt="img03"/></noscript></div></li><li><div data-alt="img03" data-description="<h3>project</h3>" data-max-width="1800" data-max-height="1350"><div data-src="images/xxxlarge/project.jpg" data-min-width="1300"></div><div data-src="images/xxlarge/project.jpg" data-min-width="1000"></div><div data-src="images/xlarge/project.jpg" data-min-width="700"></div><div data-src="images/large/project.jpg" data-min-width="300"></div><div data-src="images/medium/project.jpg" data-min-width="200"></div><div data-src="images/small/project.jpg" data-min-width="140"></div><div data-src="images/xsmall/project.jpg"></div><noscript><img src="images/xsmall/project.jpg" alt="img03"/></noscript></div></li><li><div data-alt="img03" data-description="<h3>project</h3>" data-max-width="1800" data-max-height="1350"><div data-src="images/xxxlarge/project.jpg" data-min-width="1300"></div><div data-src="images/xxlarge/project.jpg" data-min-width="1000"></div><div data-src="images/xlarge/project.jpg" data-min-width="700"></div><div data-src="images/large/project.jpg" data-min-width="300"></div><div data-src="images/medium/project.jpg" data-min-width="200"></div><div data-src="images/small/project.jpg" data-min-width="140"></div><div data-src="images/xsmall/project.jpg"></div><noscript><img src="images/xsmall/project.jpg" alt="img03"/></noscript></div></li>']

				function fncallback() {

					$( '#loadmore' ).show().on( 'click', function() {

						++page;
						var newitems = items[page-1]
						if( page <= 1 ) {
							
							Gamma.add( $( newitems ) );

						}
						if( page === 1 ) {

							$( this ).remove();

						}

					} );

				}

			});

		</script>	
	</body>
</html>
