extends layout

block headcontent
	script(src="/javascripts/checkuser.js")
	script(src="/javascripts/manageprojectareas.js")

	script(type="text/javascript")
		| var Role = "#{user.userRole}"

block content
	div.row
		div.col-md-2
		div.col-md-8
			h2 Project Area Details
			table.table.table-striped#projectAreaList
				thead
					tr
						th Project Area
						th Manager
						th Description
						th
				tbody
			button.btn(type='button' onclick='window.location.href="/addprojectAreas";') Add Project Area
		div.col-md-2