html(lang="en")

head

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    title SB Admin 2 - Bootstrap Admin Theme

    link(href="/css/bootstrap.css", rel="stylesheet")
    link(href="/css/sb-admin-2.css" rel="stylesheet")
    link(href="/css/style.css" rel="stylesheet")

    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/bootstrap.js")
    script(src="/javascripts/auditcharts.js")
    script(src="/javascripts/Chart.js")

body
    script.
        var calcs = "#{results}";
    
    #wrapper

        nav.navbar.navbar-default.navbar-static-top(role="navigation", style="margin-bottom: 0")
            .navbar-header
                a.navbar-brand(href="#") Answer This

            .navbar-default.sidebar(role="navigation")
                .sidebar-nav.navbar-collapse
                    .row
                        .col-sm-2
                            img#1.numberbutton(src="/images/1.png",onmouseover="hover(this)",onmouseout="removehover(this)",onclick="calcclick(this)")
                        .col-sm-2
                            img#2.numberbutton(src="/images/2.png",onmouseover="hover(this)",onmouseout="removehover(this)",onclick="calcclick(this)")
                        .col-sm-2
                            img#3.numberbutton(src="/images/3.png",onmouseover="hover(this)",onmouseout="removehover(this)",onclick="calcclick(this)")
                        .col-sm-2
                            img#plus.numberbutton(src="/images/plus.png",onmouseover="hover(this)",onmouseout="removehover(this)",onclick="calcclick(this)")
                     .row
                        .col-sm-2
                            img#4.numberbutton(src="/images/4.png",onmouseover="hover(this)",onmouseout="removehover(this)",onclick="calcclick(this)")
                        .col-sm-2
                            img#5.numberbutton(src="/images/5.png",onmouseover="hover(this)",onmouseout="removehover(this)",onclick="calcclick(this)")
                        .col-sm-2
                            img#6.numberbutton(src="/images/6.png",onmouseover="hover(this)",onmouseout="removehover(this)",onclick="calcclick(this)")
                        .col-sm-2
                            img#minus.numberbutton(src="/images/minus.png",onmouseover="hover(this)",onmouseout="removehover(this)",onclick="calcclick(this)")
                    .row
                        .col-sm-2
                            img#7.numberbutton(src="/images/7.png",onmouseover="hover(this)",onmouseout="removehover(this)",onclick="calcclick(this)")
                        .col-sm-2
                            img#8.numberbutton(src="/images/8.png",onmouseover="hover(this)",onmouseout="removehover(this)",onclick="calcclick(this)")
                        .col-sm-2
                            img#9.numberbutton(src="/images/9.png",onmouseover="hover(this)",onmouseout="removehover(this)",onclick="calcclick(this)")
                        .col-sm-2
                            img#multiply.numberbutton(src="/images/multiply.png",onmouseover="hover(this)",onmouseout="removehover(this)",onclick="calcclick(this)")
                    .row
                        .col-sm-2
                            img#clear.numberbutton(src="/images/clear.png",onmouseover="hover(this)",onmouseout="removehover(this)",onclick="calcclear()")
                        .col-sm-2
                        .col-sm-2
                            img#0.numberbutton(src="/images/0.png",onmouseover="hover(this)",onmouseout="removehover(this)",onclick="calcclick(this)")
                        .col-sm-2
                            img#divide.numberbutton(src="/images/divide.png",onmouseover="hover(this)",onmouseout="removehover(this)",onclick="calcclick(this)")
                    .row
                        .col-sm-9.calcinput
                            input#calcinput.form-control(type="text")
                    .row
                        .col-sm-9
                            #feedback
                    .row
                        .col-sm-9.tel
                            input#tel.form-control(type="text", placeholder="Mobile Number")
                    .row
                        .col-sm-9.calcbutton
                            button.btn.btn-default(type="button",onclick="sendcalc()") Send Calculation
        #page-wrapper
            .row
                .col-lg-12
                    h1.page-header Dashboard

            .row
                .col-lg-3.col-md-6
                    .panel.panel-primary
                        .panel-heading
                            .row
                                .col-xs-3
                                    i.fa.fa-comments.fa-5x
                                .col-xs-9.text-right
                                    .huge#total 26
                                    div Total of All Calculations

                .col-lg-3.col-md-6
                    .panel.panel-green
                        .panel-heading
                            .row
                                .col-xs-3
                                    i.fa.fa-tasks.fa-5x
                                .col-xs-9.text-right
                                    .huge#common 12
                                    div Most Common Calculation
                .col-lg-3.col-md-6
                    .panel.panel-yellow
                        .panel-heading
                            .row
                                .col-xs-3
                                    i.fa.fa-shopping-cart.fa-5x
                                .col-xs-9.text-right
                                    .huge#largest 124
                                    div Largest Calculation Result
                .col-lg-3.col-md-6
                    .panel.panel-red
                        .panel-heading
                            .row
                                .col-xs-3
                                    i.fa.fa-support.fa-5x
                                .col-xs-9.text-right
                                    .huge#eight 13
                                    div Total Numer of 8's
            .row
                .col-lg-8
                    .panel.panel-default
                        .panel-heading
                            i.fa.fa-bar-chart-o.fa-fw Area Chart Example
                        .panel-body
                            canvas#chart1(width="870", height="435")
                    .panel.panel-default
                        .panel-heading
                            i.fa.fa-bar-chart-o.fa-fw Bar Chart Example
                        .panel-body
                            canvas#chart2(width="870", height="435")
                .col-lg-4
                    .panel.panel-default
                        .panel-heading
                            i.fa.fa-bell.fa-fw Lastest Calculations
                        .panel-body
                            table.table.table-striped#latestTable
                                thead
                                    tr
                                        th Calc
                                        th Answer
                                        th Message
                                tbody
