html(lang="en")

head

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    title SB Admin 2 - Bootstrap Admin Theme

    link(href="/css/bootstrap.css", rel="stylesheet")
    link(href="/css/sb-admin-2.css" rel="stylesheet")

    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/bootstrap.js")
    script(src="/javascripts/auditcharts.js")
    script(src="/javascripts/Chart.js")

body
    script.
        var calcs = "#{results}";
    
    #wrapper

        nav.navbar.navbar-default.navbar-static-top(role="navigation", style="margin-bottom: 0")
            .navbar-header
                a.navbar-brand(href="#") Answer This

            .navbar-default.sidebar(role="navigation")
                .sidebar-nav.navbar-collapse

        #page-wrapper
            .row
                .col-lg-12
                    h1.page-header Dashboard

            .row
                .col-lg-3.col-md-6
                    .panel.panel-primary
                        .panel-heading
                            .row
                                .col-xs-3
                                    i.fa.fa-comments.fa-5x
                                .col-xs-9.text-right
                                    .huge#total 26
                                    div Total of All Calculations

                .col-lg-3.col-md-6
                    .panel.panel-green
                        .panel-heading
                            .row
                                .col-xs-3
                                    i.fa.fa-tasks.fa-5x
                                .col-xs-9.text-right
                                    .huge#common 12
                                    div Most Common Calculation
                .col-lg-3.col-md-6
                    .panel.panel-yellow
                        .panel-heading
                            .row
                                .col-xs-3
                                    i.fa.fa-shopping-cart.fa-5x
                                .col-xs-9.text-right
                                    .huge#largest 124
                                    div Largest Calculation Result
                .col-lg-3.col-md-6
                    .panel.panel-red
                        .panel-heading
                            .row
                                .col-xs-3
                                    i.fa.fa-support.fa-5x
                                .col-xs-9.text-right
                                    .huge#eight 13
                                    div Total Numer of 8's
            .row
                .col-lg-8
                    .panel.panel-default
                        .panel-heading
                            i.fa.fa-bar-chart-o.fa-fw Area Chart Example
                        .panel-body
                            canvas#chart1(width="870", height="435")
                    .panel.panel-default
                        .panel-heading
                            i.fa.fa-bar-chart-o.fa-fw Bar Chart Example
                        .panel-body
                            canvas#chart2(width="870", height="435")
                .col-lg-4
                    .panel.panel-default
                        .panel-heading
                            i.fa.fa-bell.fa-fw Lastest Calculations
                        .panel-body
                            table.table.table-striped#latestTable
                                thead
                                    tr
                                        th Calc
                                        th Answer
                                        th Message
                                tbody
