@font-face {
    font-family: digitalFont;
    src: url(digital-7.ttf);
}

.calculatorstats
{
	height: 100vh;
	background-image: url('../images/background590.jpg');
}

h2
{
	color: white;
}

.calculatorsidemenu
{
	background-color: rgba(0,0,0,0.8);
	height: 100vh;
}

.statscontainer
{
	background-color: rgba(0,0,0,0.8);
	width:96%;
	height:94%;
	margin:2%;
}

.numberbutton
{
	padding: 10px;
}

.calcinput
{
	padding: 10px 15px 10px 25px;
}

.calcbutton
{
	padding: 10px 10px 10px 25px;
}

.tel
{
	padding: 10px 15px 10px 25px;	
}

#feedback
{
	padding: 10px 10px 10px 25px;
	height:30px;
}


.digital
{
	font-family: digitalFont;
}

.auditheader
{
	padding:10px;
	margin:0px;
}


         

